<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="home-options">
                <div class="styled-button">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span>Go To Poll</span>
                </div>
                <div class="text-separator">
                    <span>OR</span>
                </div>
                <div class="styled-button" ng-click="login()">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="red-background">Manage Polls</span>
                </div>
            </div>
        </div>
    </div>
</div>

