<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XomPoll.Core.Properties.Settings.xompollConnectionString"
            connectionString="Data Source=xompoll.database.windows.net;Initial Catalog=xompoll;Persist Security Info=True;User ID=xompoll_admin;Password=asdqwe123!@#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>